:root {
    --amaranthPurple: #982649;
    --battleshipGray: #7C8483;
    --airBlue: #71A2B6;
    --ghostWhite: #fef9ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 8vh;
    background-color: var(--airBlue);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14vw, 1fr));
    grid-template-rows: minmax(45vh, 1fr);
    gap: 2vw;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    padding: 0 1vw;
    background-color: var(--battleshipGray);
    color: var(--ghostWhite);
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    border: 1px solid black;
    border-left: solid 1vw var(--amaranthPurple);
}

#showDialog {
    margin-top: 2vh;
    box-shadow: 5px 5px 5px black;
    padding: 1vh;
    border-radius: 15px;
}